* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans";
}
  
.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #02160b;
}

.up{
    width: 100%;
    max-width: 1080px;
    height: 100%;
    min-height: 780px; 
    
    background-image: url(fox_back.png);
}
.header {

    display: flex;
    justify-content: space-around;

    font-family: Roboto;
    font-style: normal;

    font-size: 32px;
    font-weight: 400;

    line-height: 60px;
}
  
.header__logo {
    width: 240px;
    height: 60px;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.menu__list{
    width:480px;

    display: flex;
    justify-content: space-around;
}
  
button {
    height: 50px;
    width: 120px;

    font-style: normal;

    font-size: 22px;
    font-weight: 400;

    line-height: 28px;

    text-align: center;

    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    
    color: white;      
    background-color: Transparent;
}

a {
    color: rgba(247, 247, 247, 1);
}

img {
    filter: invert(1);
}

h1 {
    font-style: normal;

    font-size: 32px;
    font-weight: 400;

    line-height: 60px;
    
    color: #f7f7f7;
}

.survival{
    display: flex;
    align-items: flex-end;
    height:460px;
    width: 395px;
    justify-content: flex-end;
    
}

.med {
    width: 275px;
    height: 340px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.med_title {
    width: 199px;
    height: 72px;

    color: #CD6326;
}

.med_text {
    width: 274px;
    height: 108px;

    font-style: normal;

    font-size: 18px;

    font-weight: 400;

    line-height: 27px;
    letter-spacing: 0em;

    color: rgba(247, 247, 247, 1);
}

.med_donate {
    width: 160px;
    height: 60px;

    font-family: Roboto;
    font-style: normal;
    
    font-size: 23px;

    font-weight: 400;

    line-height: 27px;

    letter-spacing: 0em;

}

#button2 {
    height: 60px;
    width: 160px;

    background-color: #cd6326;
}

#tt {
    color:rgb(205, 99, 38);

    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 2px;
}

/* Нижняя часть */

.wild-articles {
    width: 100vw;
    display: flex;

    justify-content: center;

    background-color: #02160b;

    z-index: -1;
}

.last_articles {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    min-height: 780px;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: #cccccc;
}

.articles__header {
    height: 270px;

    display: flex;

    flex-direction: column;
}

#head_1 {
    text-align: center;
    font-style: normal;

    font-size: 48px;

    font-weight: 400;

    line-height: 72px;
    letter-spacing: 0em;

    color: #333333; 
}
#head_2 {
    text-align: center;
    font-style: normal;

    font-size: 24px;

    font-weight: 400;

    line-height: 36px;
    letter-spacing: 0em;
    
    color: #666666;
}

.articles__body {

    display: flex;
    align-items: flex-end;
}

.illustration {
    height: 360px;
    width: 1200px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.picture__1 {
    height: 360px;
    width: 300px;

    display: flex;

    align-items: flex-end;
    justify-content: center;

    background-image: url(picture/Olen.jpg)
}
.picture__2 {
    height: 360px;
    width: 300px;

    display: flex;

    align-items: flex-end;
    justify-content: center;

    background-image: url(picture/Belka.jpg)
}
.picture__3 {
    height: 360px;
    width: 300px;

    display: flex;

    align-items: flex-end;
    justify-content: center;

    background-image: url(picture/Bird.jpg)
}

#white {
    color: white;
}

/* Подвал (Basement) */

.articles__basement {
    height: 500px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}